<h1>Галерея проектов</h1>

<div class="projects-gallery">
  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <div class="project-thumbnail">
        <%= link_to project_path(project) do %>
          <% if project.image.present? %>
            <%= image_tag project.image.url, alt: project.title %>
          <% else %>
            <div class="no-image">Нет изображения</div>
          <% end %>
          <div class="project-title-overlay">
            <h3><%= project.title %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Пока нет проектов</p>
  <% end %>
</div>


<div class="O_Filter">

<div class="W_FilterTop">
 <%= image_tag "Q_GrayArrow.svg", class: "Q_GrayArrow" %>
 <div class="W_FilterTop">
<p class='A_FilterName'>Выберите уровень</p>
<p class='A_FilterNumber'>1/3</p>
 </div>
  <%= image_tag "Q_BlackArrow.svg", class: "Q_BlackArrow" %>
</div>

<div class="C_Filters">
<div class="A_Filter">
<p class='A_FilterText'>Junior</p>
</div>
<div class="A_Filter">
<p class='A_FilterText'>Middle</p>
</div>
<div class="A_Filter">
<p class='A_FilterText'>Senior</p>
</div>
</div>
</div>