<div style="min-height: 100vh; padding-left: 34px; padding-top: 46px; font-family: 'Gilroy'; position: relative;">

  <a href="<%= projects_path %>" 
     style="font-family: 'Gilroy-Semibold'; font-size: 28px; color: #000; text-decoration: none; display: block; margin-bottom: 31px;">
    К проектам
  </a>
  

  <div style="display: flex; justify-content: space-between; align-items: flex-start; max-width: 1200px;">
    
  
    <div style="flex-shrink: 0;">
    
      <div style="border: 1px solid #000; width: 369px; height: 656px; position: relative; padding: 0 20px;">
  
        <div style="position: absolute; top: 25px; left: 0; right: 0; text-align: center;">
          <div style="font-size: 20px; margin-bottom: 69px; font-weight: 500;">
            <%= @project.title %>
          </div>
          
     
          <div style="font-size: 20px; margin-bottom: 5px;">
            категория
          </div>
          <div style="font-size: 20px; margin-bottom: 69px;">
            <%= @project.category %>
          </div>
          
     
          <div style="font-size: 20px; margin-bottom: 5px;">
            автор
          </div>
          <div style="font-size: 20px; margin-bottom: 69px;">
            <%= @project.user.username %>
          </div>
          
        
          <div style="font-size: 20px; margin-bottom: 5px;">
            запрос фидбека
          </div>
          <div style="font-size: 20px; margin-left: 50px; margin-bottom: 69px; max-height: 60px; max-width: 300px; line-height: 1.2; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
            <%= @project.feedback_request.presence || "Нет запроса" %>
          </div>
          

          <%= button_to 'удалить пост', project_path(@project), 
                        method: :delete, 
                        data: { confirm: 'Вы уверены, что хотите удалить этот проект?' },
                        style: "font-family: 'Gilroy'; font-size: 20px; background: none; border: none; color: #000; cursor: pointer; padding-top: 90px;" %>
        </div>
      </div>
    </div>
    

    <div style="position: relative; margin-top: 10px; margin-left: 200px; flex: 1; display: flex; flex-direction: column; align-items: center;">
      <% if @project.image.present? %>
        <div id="project-image-container" 
             style="position: relative; cursor: pointer;">
          
   
          <div id="custom-cursor" 
               style="position: absolute; width: 52px; height: 52px; pointer-events: none; opacity: 0; z-index: 10; transition: opacity 0.2s;">
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="23.4741" width="27.8746" height="27.8746" fill="#ECFFB8"/>
              <circle cx="25.6741" cy="25.6741" r="25.6741" fill="#ECFFB8"/>
            </svg>
          </div>
          
  
          <%= image_tag @project.image.url, 
                id: "project-main-image",
                style: "max-height: 500px; width: auto; display: block; transform: rotate(-5deg);",
                alt: @project.title %>
          
          <!-- Область для добавления фидбека -->
          <div id="feedback-form-overlay" 
               style="position: absolute; display: none; z-index: 100;">
          </div>
        </div>
        

        <div id="bottom-text" 
             style="font-family: 'Gilroy'; font-size: 20px; line-height: 1.4; margin-top: 100px; text-align: center; width: 100%;">
          It is a long established fact that a reader
          It is <br>a long established fact that a reader
        </div>
      <% else %>
        <div style="width: 400px; height: 500px; background: #f0f0f0; display: flex; align-items: center; justify-content: center; color: #999; font-size: 20px; transform: rotate(-5deg);">
          📷 Нет изображения
        </div>
        

        <div id="bottom-text" 
             style="font-family: 'Gilroy'; font-size: 20px; line-height: 1.4; margin-top: 70px; text-align: center; width: 100%;">
          It is a long established fact that a reader
          It is <br>a long established fact that a reader
        </div>
      <% end %>
    </div>
  </div>
</div>


<div id="feedback-form-template" style="display: none;">
  <div style="display: flex; align-items: center; gap: 25px;">
 
    <div style="flex-shrink: 0;">
      <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="23.4741" width="27.8746" height="27.8746" fill="#ECFFB8"/>
        <circle cx="25.6741" cy="25.6741" r="25.6741" fill="#ECFFB8"/>
      </svg>
    </div>
    
    
    <div style="position: relative; width: 474px;">
      <form id="inline-feedback-form" style="margin: 0;">
        <div style="display: flex; align-items: center; background: #F8F8F8; border-radius: 20px; padding: 0 25px; min-height: 64px;">
          <input type="text" 
                 name="feedback[content]" 
                 placeholder="Добавить фидбек" 
                 style="flex: 1; background: none; border: none; font-family: 'Gilroy'; font-weight: 400; font-size: 20px; color: #b2b2b2; outline: none;"
                 autocomplete="off">
          
     
          <button type="submit" 
                  style="background: #d9d9d9; border: none; width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; cursor: pointer; margin-left: 10px; flex-shrink: 0;">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.9036 6.80408V17.3831H11.1654V6.80408L6.50336 11.4661L5.27441 10.2371L12.0345 3.47705L18.7946 10.2371L17.5657 11.4661L12.9036 6.80408Z" fill="#979797"/>
            </svg>
          </button>
          
       
          <input type="hidden" name="feedback[category]" value="Композиция">
          <input type="hidden" name="feedback[is_helpful]" value="false">
        </div>
      </form>
    </div>
  </div>
</div>

<style>

  input::placeholder {
    color: #b2b2b2 !important;
    opacity: 1 !important; 
  }
  

  input::-webkit-input-placeholder {
    color: #b2b2b2 !important;
  }
  
  input::-moz-placeholder {
    color: #b2b2b2 !important;
    opacity: 1 !important;
  }
  
  input:-ms-input-placeholder {
    color: #b2b2b2 !important;
  }
  
  input::-ms-input-placeholder {
    color: #b2b2b2 !important;
  }
  .A_FidText {
    font-family: 'Gilroy-Semibold';
font-weight: 400;
font-size: 113px;
line-height: 91%;
color: #000;
margin-left: 35px;
margin-top: -5px;
  }
  .A_FidName {
font-family: 'Gilroy-Semibold';
font-weight: 400;
font-size: 25px;
text-transform: uppercase;
color: #000;
  }
  .A_FidCat {
font-family: 'Gilroy';
font-weight: 400;
font-size: 16px;
color: #000;
  }
  .A_Fidback {
font-family: 'Gilroy';
font-weight: 400;
font-size: 18px;
color: #000;
width: 402px;
  }
  .W_Fidback {
    display: flex;
    gap: 180px;
    margin-left: 720px
  }
  .A_FidCat{
      margin-top: -15px
  }
  .M_FidName {
     margin-top: -100px
  }
  .M_FidText {
       margin-top: -72px
  }
  .Q_Stars {
    margin-left: 328px
  }
  .Q_GrayLine {
    border: 1px solid #d9d9d9;
width: 671px;
height: 0px;
margin-left: 720px;
 margin-top: 20px
  }
  .W_Fidback2 {
    margin-top: 110px
  }
  .M_FidName {
     margin-top: 0;
     width: 120px;
}
.M_FidText {
       margin-top: 0;
}
.W_Fidback2 {
    margin-top: 30px
}
.M_FidName {
     margin-top: -28px;
     width: 120px;
}
.A_FidText {
    font-family: 'Gilroy-Semibold';
    font-weight: 400;
    font-size: 113px;
    line-height: 91%;
    color: #000;
    margin-left: 35px;
    margin-top: -5px;
    margin-bottom: 30px; 
}
.A_Also {
    font-family: 'Gilroy-Semibold';
font-weight: 400;
font-size: 28px;
color: #000;
margin-left: 35px;
margin-top: 82px;
}
.A_AlsoSmall {
   font-family: 'Gilroy';
font-weight: 400;
font-size: 16px;
line-height: 123%;
color: #000;
margin-left: 35px;
margin-top: -20px;
  }
  .Q_Table {
width: 1215px;
height: 634px;
margin-left: 127px;
margin-top: 152px;
z-index: 1;
position: relative;

  }
  .Q_Chair2 {
    width: 1344px;
height: 768px;
margin-top: -420px;
margin-left: 60px;
z-index: 0;
heigth: 50px;

  }


.Q_Chair2 {
  pointer-events: none !important;
}


div[style*="pointer-events: none"] div[style*="pointer-events: auto"] {
  pointer-events: auto !important;
}


div[style*="pointer-events: auto"] img {
  transition: all 0.3s ease;
}

.Q_Subjects {
  width: 1215px;
  height: 634px;
  margin-top: -1000px;
  margin-left: 130px;
  z-index: 999;
  position: relative;
  pointer-events: none;
}


#new-feedbacks-container {
    width: 100%;
}


.O_Input {
    border-radius: 25px;
    width: 671px;
    height: 78px;
    background: #ebefe0;
    display: flex;
    align-items: center;
    margin-left: 720px;
    margin-top: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

.Q_InputIc {
    padding: 11px;
    margin-right: 10px;
    flex-shrink: 0;
}

.Q_InputSent {
    padding: 11px;
    flex-shrink: 0;
}

.A_InputText {
    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 25px;
    color: #A8AA9E;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    flex: 1;
}

.A_InputText::placeholder {
    color: #A8AA9E;
    text-align: center;
}

.A_InputText:focus {
    outline: none;
}

.A_InputText:focus::placeholder {
    opacity: 0.5;
}


.new-feedback {
    margin-top: 20px;
}


.O_Input {
    border-radius: 25px;
    width: 650px;  
    height: 78px;
    background: #ebefe0;
    display: flex;
    align-items: center;
    margin-left: 720px;
    margin-top: 42px;
    padding-left: 20px;
    padding-right: 5px;
}

.Q_InputIc {
    padding: 0px;
    margin-right: 10px;
    flex-shrink: 0;
}

.Q_InputSent {
    padding: 11px;
    margin-right: -15px;
    flex-shrink: 0;
    position: relative;
    left: -10px;
}

.A_InputText {
    font-family: 'Gilroy-Medium';
    font-weight: 400;
    font-size: 25px;
    color: #A8AA9E;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    flex: 1;
}

.A_InputText::placeholder {
    color: #A8AA9E;
    text-align: center;
}

.A_InputText:focus {
    outline: none;
}

.A_InputText:focus::placeholder {
    opacity: 0.5;
}
  .Q_InputSent {
    padding: 11px;
    margin-right: -20px;  
    flex-shrink: 0;
}
</style>


<div id="feedback-display-template" style="display: none;">
  <div style="display: flex; align-items: flex-start; gap: 25px; cursor: pointer;">
   
    <div style="flex-shrink: 0;">
      <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="23.4741" width="27.8746" height="27.8746" fill="#ECFFB8"/>
        <circle cx="25.6741" cy="25.6741" r="25.6741" fill="#ECFFB8"/>
      </svg>
    </div>
    

    <div class="feedback-content" 
         style="background: #F8F8F8; border-radius: 20px; padding: 20px 25px; max-width: 474px; font-family: 'Gilroy'; font-size: 20px; color: #b2b2b2; line-height: 1.4; word-wrap: break-word;">
     
    </div>
  </div>
</div>

<p class='A_FidText'>Фидбеки</p>

<% if @project.feedbacks.any? %>
  <% @project.feedbacks.includes(:user).each_with_index do |feedback, index| %>

    <% if index == 0 %>
      <!-- Первый фидбек в "старой" верстке -->
      <div class="W_Fidback">
        <div class="M_FidName">
          <p class='A_FidName'><%= feedback.user&.username || 'Аноним' %></p>
          <p class='A_FidCat'>Новичок</p>
        </div>
        <div class="M_FidText">
          <%= image_tag "Q_Stars.svg", class: "Q_Stars" %>
          <p class='A_Fidback'><%= feedback.content %></p>
        </div>
      </div>
      <div class="Q_GrayLine"></div>

    <% else %>
      <!-- Остальные фидбеки в "обёртке" W_Fidback2 -->
      <div class="W_Fidback2">
        <div class="W_Fidback">
          <div class="M_FidName">
            <p class='A_FidName'><%= feedback.user&.username || 'Аноним' %></p>
            <p class='A_FidCat'>Новичок</p>
          </div>
          <div class="M_FidText">
            <%= image_tag "Q_Stars.svg", class: "Q_Stars" %>
            <p class='A_Fidback'><%= feedback.content %></p>
          </div>
        </div>
        <div class="Q_GrayLine"></div>
      </div>
    <% end %>

  <% end %>
<% else %>
  <p style="margin-left: 720px; font-family: 'Gilroy'; font-size: 18px; color: #777;">
    На этот проект пока нет фидбеков. Будь первым!
  </p>
<% end %>

<div id="new-feedbacks-container"></div>

<div class="O_Input">
  <%= image_tag "Q_InputIc.svg", class: "Q_InputIc" %>
  <input type="text" 
         id="new-feedback-input" 
         class='A_InputText' 
         placeholder="Add a feedback" 
         style="flex: 1; 
                background: none; 
                border: none; 
                outline: none; 
                font-family: 'Gilroy-Medium'; 
                font-weight: 400; 
                font-size: 25px; 
                color: #A8AA9E; 
                text-align: center;">
  <button id="submit-feedback-btn" 
          style="background: none; 
                 border: none; 
                 cursor: pointer; 
                 padding: 11px; 
                 display: flex; 
                 align-items: center; 
                 justify-content: center;">
    <%= image_tag "Q_InputSent.svg", class: "Q_InputSent" %>
  </button>
</div>

<p class='A_Also'>Похожие проекты</p>
<p class='A_AlsoSmall'>Reform</p>


<div style="position: relative; width: 1215px; height: 634px; margin-left: 127px; margin-top: 12px;">
  <%= image_tag "Table4.svg", style: "width: 100%; height: 100%; position: relative; z-index: 1; display: none" %>
  

  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; pointer-events: none;">
    <% 
    
      all_other_projects = Project.where.not(id: @project.id).to_a
      
     
      random_projects = all_other_projects.sample(5)
      

      random_positions = []
      5.times do |i|
  
       random_left = rand(80..1000)     
    random_top = rand(-50..350)      
    random_rotate = rand(-20..20)    
    random_width = rand(180..280)    
        random_positions << {
          left: random_left,
          top: random_top,
          rotate: random_rotate,
          width: random_width
        }
      end
    %>
    
    <% random_projects.each_with_index do |project, index| %>
      <% if project.image.present? %>
        <% pos = random_positions[index] %>
        
        <div style="position: absolute; 
                    left: <%= pos[:left] %>px; 
                    top: <%= pos[:top] %>px; 
                    width: <%= pos[:width] %>px; 
                    transform: rotate(<%= pos[:rotate] %>deg); 
                    z-index: 3;
                    pointer-events: auto;
                    transition: transform 0.2s;"
             onmouseover="this.style.transform='rotate(<%= pos[:rotate] %>deg) scale(1.1)'; this.style.zIndex='10';"
             onmouseout="this.style.transform='rotate(<%= pos[:rotate] %>deg) scale(1)'; this.style.zIndex='3';">
          
          <%= image_tag project.image.url, 
                style: "width: 100%; 
                        height: auto; 
                        display: block;
                       " %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= image_tag "Q_Subjects.png", class: "Q_Subjects" %>
<%= image_tag "Q_Chair2.png", style: "width: 1344px; height: 768px; margin-top: -430px; margin-left: 63px; position: relative; z-index: 0; pointer-events: none; display: none" %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const projectImageContainer = document.getElementById('project-image-container');
  const customCursor = document.getElementById('custom-cursor');
  const projectImage = document.getElementById('project-main-image');
  const feedbackFormTemplate = document.getElementById('feedback-form-template');
  const feedbackDisplayTemplate = document.getElementById('feedback-display-template');

  let activeFeedback = null;
  let clickPosition = { x: 0, y: 0 };

  if (projectImageContainer && customCursor && projectImage) {
    projectImageContainer.addEventListener('mousemove', function(e) {
      const rect = this.getBoundingClientRect();
      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;

      customCursor.style.left = (x - 26) + 'px';
      customCursor.style.top = (y - 26) + 'px';
      customCursor.style.opacity = '1';
    });

    projectImageContainer.addEventListener('mouseleave', function() {
      customCursor.style.opacity = '0';
    });

    projectImageContainer.addEventListener('click', function(e) {
      e.preventDefault();
      e.stopPropagation();

      const rect = this.getBoundingClientRect();
      clickPosition = {
        x: e.clientX - rect.left,
        y: e.clientY - rect.top
      };

      if (activeFeedback) {
        hideActiveFeedback();
      }

      showFeedbackForm();
    });
  }

  function showFeedbackForm() {
    if (!projectImageContainer || !feedbackFormTemplate) return;

    const oldForm = document.getElementById('feedback-form-overlay');
    if (oldForm) {
      oldForm.remove();
    }

    const formOverlay = document.createElement('div');
    formOverlay.id = 'feedback-form-overlay';
    formOverlay.style.position = 'absolute';
    formOverlay.style.left = (clickPosition.x - 300) + 'px';
    formOverlay.style.top = (clickPosition.y - 32) + 'px';
    formOverlay.style.zIndex = '100';
    formOverlay.style.display = 'block';

    const formContent = feedbackFormTemplate.cloneNode(true);
    formContent.style.display = 'block';
    formContent.id = 'active-feedback-form';

    formOverlay.appendChild(formContent);
    projectImageContainer.appendChild(formOverlay);

    activeFeedback = formOverlay;

    setTimeout(() => {
      const input = formOverlay.querySelector('input[name="feedback[content]"]');
      if (input) input.focus();
    }, 100);

    const form = formOverlay.querySelector('#inline-feedback-form');
    if (form) {
      form.addEventListener('submit', handleFeedbackSubmit);
    }

    document.addEventListener('click', closeFormOnClickOutside);
  }

  function showExistingFeedback(feedbackData) {
    if (!projectImageContainer || !feedbackDisplayTemplate) return;

    const oldFeedback = document.getElementById('feedback-form-overlay');
    if (oldFeedback) {
      oldFeedback.remove();
    }

    const feedbackOverlay = document.createElement('div');
    feedbackOverlay.id = 'feedback-form-overlay';
    feedbackOverlay.style.position = 'absolute';
    feedbackOverlay.style.left = (clickPosition.x - 300) + 'px';
    feedbackOverlay.style.top = (clickPosition.y - 32) + 'px';
    feedbackOverlay.style.zIndex = '100';
    feedbackOverlay.style.display = 'block';

    const feedbackContent = feedbackDisplayTemplate.cloneNode(true);
    feedbackContent.style.display = 'block';

    const feedbackText = feedbackContent.querySelector('.feedback-content');
    if (feedbackText) {
      feedbackText.textContent = feedbackData.content;
    }

    feedbackOverlay.appendChild(feedbackContent);
    projectImageContainer.appendChild(feedbackOverlay);

    activeFeedback = feedbackOverlay;
    document.addEventListener('click', closeFormOnClickOutside);
  }

  function handleFeedbackSubmit(e) {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);
    const projectId = '<%= @project.id %>';

    if (!formData.get('feedback[category]')) {
      formData.set('feedback[category]', 'Композиция');
    }
    if (!formData.get('feedback[is_helpful]')) {
      formData.set('feedback[is_helpful]', 'false');
    }

    fetch(`/projects/${projectId}/feedbacks`, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
        'Accept': 'application/json'
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      if (data.success) {
        showExistingFeedback(data.feedback);
      } else {
        alert('Ошибка: ' + (data.errors || 'Не удалось добавить фидбек'));
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Ошибка при отправке фидбека');
    });
  }

  function closeFormOnClickOutside(e) {
    if (activeFeedback && !activeFeedback.contains(e.target) &&
        !projectImageContainer.contains(e.target)) {
      hideActiveFeedback();
    }
  }

  function hideActiveFeedback() {
    if (activeFeedback) {
      activeFeedback.remove();
      activeFeedback = null;
      document.removeEventListener('click', closeFormOnClickOutside);
    }
  }

  const submitBtn = document.getElementById('submit-feedback-btn');
  const feedbackInput = document.getElementById('new-feedback-input');
  const newFeedbacksContainer = document.getElementById('new-feedbacks-container');
  const projectId = '<%= @project.id %>';

  function escapeHtml(text) {
    const div = document.createElement('div');
    div.textContent = text;
    return div.innerHTML;
  }

  function addNewFeedbackToDOM(feedbackData) {
    const newFeedbackDiv = document.createElement('div');
    newFeedbackDiv.className = 'W_Fidback';
    newFeedbackDiv.style.marginTop = '20px';

    newFeedbackDiv.innerHTML = `
      <div class="M_FidName">
        <p class='A_FidName'>${escapeHtml(feedbackData.user_name || 'Вы')}</p>
        <p class='A_FidCat'>${escapeHtml(feedbackData.user_level || 'Новичок')}</p>
      </div>
      <div class="M_FidText">
        <p class='A_Fidback'>${escapeHtml(feedbackData.content)}</p>
      </div>
    `;

    newFeedbacksContainer.appendChild(newFeedbackDiv);
    newFeedbackDiv.scrollIntoView({ behavior: 'smooth', block: 'center' });
  }

  async function submitNewFeedback() {
    const content = feedbackInput.value.trim();

    if (!content) {
      alert('Введите текст фидбека');
      return;
    }

    submitBtn.disabled = true;
    const originalBtnContent = submitBtn.innerHTML;
    submitBtn.innerHTML = '⏳';

    try {
      const response = await fetch(`/projects/${projectId}/feedbacks`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content,
          'Accept': 'application/json'
        },
        body: JSON.stringify({
          feedback: {
            content: content,
            category: 'Композиция',
            is_helpful: false
          }
        })
      });

      const data = await response.json();

     if (response.ok && data.success) {
  addNewFeedbackToDOM({
    content: content,
    user_name: data.feedback.user.username || 'Вы',
    user_level: 'Новичок'
  });

  feedbackInput.value = '';
} else {
        throw new Error(data.errors || 'Ошибка при отправке');
      }
    } catch (error) {
      console.error('Error:', error);
      const errorMsg = document.createElement('div');
      errorMsg.textContent = '✗ Ошибка при отправке фидбека';
      errorMsg.style.cssText = 'position: fixed; bottom: 20px; right: 20px; background: #f44336; color: white; padding: 12px 24px; border-radius: 8px; z-index: 1000; font-family: Gilroy; font-size: 16px;';
      document.body.appendChild(errorMsg);
      setTimeout(() => errorMsg.remove(), 3000);
    } finally {
      submitBtn.disabled = false;
      submitBtn.innerHTML = originalBtnContent;
    }
  }

  if (submitBtn) {
    submitBtn.addEventListener('click', submitNewFeedback);
  }

  if (feedbackInput) {
    feedbackInput.addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        e.preventDefault();
        submitNewFeedback();
      }
    });
  }
});
</script>